<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>blog homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
    </header>
    <nav>
      <span><a href="/" title="homepage">home</a></span>
      <span><a href="/register" title="register">register</a></span>
      <span><a href="/login" title="login">login</a></span>
    </nav>
    <article>
      