<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>demo blog</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <span class="search"><form action="/search" method="GET">
        <input type="text" name="keyword" value="" placeholder="search keyword" />
        <input type="submit" class="search" value="" />
      </form></span>
    </header>
    <nav>
      <span><a href="/">home</a></span>
      <% if(user){ %>
      <span><a href="/post">post</a></span>
      <span><a href="/upload">upload</a></span>
      <span><a href="/logout">logout</a></span>
      <% }else{ %>
      <span><a href="/register">register</a></span>
      <span><a href="/login">login</a></span>
      <% } %>
    </nav>
    <article>
      