<%- include header %>
<form method="POST">
  name: <input type="text" name="name" value="" /><br />
  pass: <input type="password" name="password" value=""><br />
  <input type="submit" name="login" value="login">
</form>
<%- include footer %>