<%- include header %>
<form method="POST">
  name: <input type="text" name="name" value="" /><br />
  pass: <input type="password" name="password" value=""><br />
  pass: <input type="password" name="password_repeat" value=""><br />
  name: <input type="email" name="email" value="" /><br />
  <input type="submit" name="register" value="register">
</form>
<%- include footer %>