<%- include header %>
<form method="POST" action="/upload" enctype="multipart/form-data">
  <input type="file" name="file1" value="" /><br />
  <input type="file" name="file2" value="" /><br />
  <input type="file" name="file3" value="" /><br />
  <input type="submit" class="upload" name="upload" value="">
</form>
<%- include footer %>